body {
    padding: 0;
    margin: 0;
    font-family: verdana;
}

body {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.stopwatch{
background-color: rgba(0, 0, 0, 1);
padding: 20px 24px;
border-radius: 80px;
}
.timer{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 25px;
    background: none;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    margin-inline: 12px;
    background-color: var(--clr);
    cursor: pointer;
    border-radius: 50px;


}